@font-face { 
    font-family: glashouse; 
    src: url(/fonts/glasshouses.woff2)}
@font-face {
    font-family: theboltfont; 
    src: url('/fonts/theboldfont.woff2')} 
:root {
    --yellow-accent:#fcc040;
    --yellow-accent-highlight:#fde5b0;
    background-color: black;
}
h1 { 
    font-family: glashouse; 
    color:var(--yellow-accent);
    text-transform: uppercase;
    text-align: center;
    font-size: min(20vh,11vw);
}
h2 { 
    font-family: theboltfont; 
    color: white;
    font-size: 8vh;
    z-index: 80;
    text-transform: uppercase;
    text-align: center;
    font-size: min(3vh,3vw);
}
h3 { 
    font-family: theboltfont;
    font-size: 5vh;
    color: black;
}
p {
    font-family: theboltfont; 
    color: white;
    font-size: 4vh;
    z-index: 80;
    text-transform: uppercase;
    text-align: center;
    font-size: min(3vh,3vw);
}

a {
  color: white;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: red;
}

/* Content specific to the title page */

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 0;
}

.main-title{
    z-index: 100;
    width: 100vw;
    margin: 0;
    margin-top: 10vh;
}

.subtitle{
    z-index: 100;
    width: 100vw;
    margin-top: 0;
    margin: 0;
}

.welcome{
    z-index: 100;
    width: 50vw;
}

.title-image{
    position: absolute;
    z-index: 1;
    filter: brightness(20%);
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.socials{
  display: flex;
  width: min(500px,50vw);
  justify-content: space-between;
}

.button{
  z-index: 40;
  width: 20vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.socialsbutton{
  width: min(60px,8vw,8vh);
  filter: invert(100);
}

.mail{
    z-index: 100;
    width: 50vw;
}